body {
    padding: 8px !important;
}
h1,
h2,
h3,
p,
label,
.checkbox {
    color: var(--figma-color-text) !important;
    font-size: 0.8em;
}
.checkbox__label:before {
    border-color: var(--figma-color-text) !important;
}
.labeled {
    display: flex;
    gap: 8px;
    align-items: center;
}
.top-space {
    margin-top: 16px;
}
label {
    display: block;
}
.number {
    width: 5em !important;
}
.input__wrap {
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 4px 0;
}
.spacing {
    margin: 16px;
}
.input__label {
    min-width: 1em;
    opacity: 0.6;
}
.dotted {
    color: var(--figma-color-text);
    border: 4px dashed;
    display: flex;
    width: calc(100vw - 16px);
    height: calc(100vh - 16px);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    text-align: center;
}
.object-not-selected {
    display: none;
}
.preview-3d {
    flex-grow: 1;
    position: relative;
}
.button--hidden {
    display: none !important;
}
.flex {
    display: flex;
    gap: 8px;
}

.circle-gizmo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    width: 48px;
    height: 48px;
    box-sizing: border-box;
}
.gizmo-x {
    border-color: #cc0000;
}
.gizmo-y {
    border-color: #4dbd00;
}
.gizmo-z {
    border-color: #33c6d9;
}

.checkbox__label {
    padding-right: 0 !important;
}
.update-path-button {
    position: absolute;
    right: 2px;
    top: 0px;
    width: 32px;
    height: 32px;
    background: transparent;
    border: 0;
    padding: 0px;
    margin: auto;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s ease all;
    z-index: 1;
}
.update-path-button:hover {
    text-shadow: 0 0 9px #888;
    top: -2px;
}
.object-clone__wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.button--initialize {
    font-size: 2em !important;
    padding: 24px 24px !important;
}